@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: $Font-family;
	font-size: $fz-middle;
	font-weight: $fw-500-Medium;
	color: $color-black;
	overflow-x: hidden;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 0 auto;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

button {
	border: none;
	cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.container {
	padding: 0 20px;
	max-width: 1640px;
	margin: 0 auto;
}
//-------modal-popup----------------
.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	opacity: 0;
	z-index: $z-index100;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.modal-body {
	background-color: #fff;
	max-width: 500px;
	border-radius: 15px;
	width: 100%;
	min-height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.modal-body-text {
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	margin-top: 25px;
}

.modal-overlay--visible {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}

.modal--visible {
	display: block;
}
//---------------------------------
//---------breadcrumbs-------------
.breadcrumbs {
	white-space: nowrap;
	overflow: auto;
	//height: 22px;
	&__list {
		display: flex;
		font-size: 16px;
		line-height: 20px;
		color: $color-dark;
		align-items: center;
		gap: 15px;
		@media (max-width: 350px) {
			gap: 5px;
		}
		ion-icon {
			opacity: 0.5;
			font-size: 18px;
		}
	}
	&__item {
	}
	&__link {
		opacity: 0.5;
		transition: opacity 0.3s ease;
		&:hover {
			opacity: 1;
			text-decoration: underline;
		}
	}
	&__current {
		color: $color-yellow;
	}
}
// ---------------------------------
//--------select--------------------
.select {
	max-width: 370px;
	width: 100%;
	position: relative;
	&.open-select .select__body {
		opacity: 1;
		visibility: visible;
	}
	&.open-select .select__icon {
		transform: rotate(-90deg);
	}
	&__header {
		border: 1px solid rgba(4, 4, 4, 0.3);
		border-radius: 3px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		cursor: pointer;
		display: flex;
		padding: 10px 20px;
		align-items: center;
		justify-content: space-between;
	}
	&__current {
		font-size: $fw-500-Medium;
		font-size: $fz-standard;
		color: rgba(0, 0, 0, 0.5);
	}
	&__icon {
		opacity: 0.5;
		flex-shrink: 0;
		transition: transform 0.4s ease-in-out;
		transform: rotate(90deg);
	}
	&__body {
		position: absolute;
		left: 0;
		right: 0;
		opacity: 0;
		visibility: hidden;
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		top: 100%;
		border: 1px solid rgba(4, 4, 4, 0.3);
		border-radius: 3px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-top: 0;
		background: $color-white;
		transition: transform 0.5s ease-in-out;
		z-index: 5;
	}
	&__item {
		cursor: pointer;
		padding: 10px 15px;
		font-size: $fw-500-Medium;
		font-size: $fz-standard;
		line-height: 20px;
		color: rgba(0, 0, 0, 0.5);
		transition: all 0.4s ease;
		&:hover {
			background: rgba(0, 0, 0, 0.8);
			color: $color-yellow;
		}
	}
}
//----------------------------------
//--------pagging-------------------
.pagging {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 30px;
	&__arrow {
		color: $color-yellow;
		font-size: 25px;
		font-weight: $fw-700-bold;
		background: transparent;
		&:disabled {
			color: rgba(0, 0, 0, 0.12);
		}
	}

	&__arrow-left {
	}
	&__arrow-right {
	}
	&__list {
		display: flex;
		align-items: center;
		gap: 13px;
	}
	&__item {
	}
	&__link {
		color: $color-black;
		width: 34px;
		height: 34px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		transition: all 0.4s ease;
		&.active {
			background-color: $color-yellow;
			color: $color-white;
		}
		&:hover {
			background: $color-yellow;
			color: $color-white;
		}
	}
}
//----------------------------------
//---------filter-range-------------
.price-filter {
	margin-bottom: 30px;
	&__title {
		width: 100%;
		font-weight: $fw-600-SemiBold;
		font-size: $fz-20;
		line-height: 24px;
		background-color: transparent;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
		ion-icon {
			color: $color-yellow;
			font-size: 24px;
		}
	}
	&__slider {
	}
	&__inputs {
		display: flex;
		justify-content: center;
		margin-bottom: 43px;
		border: 1px solid #cbcbcb;
		border-radius: 2px;
		overflow: hidden;
	}
	&__label {
		display: flex;
		align-items: center;
		width: 155px;
		height: 42px;
		border-left: 1px solid #cbcbcb;
		padding: 0 38px;
		font-weight: $fw-500-Medium;
		font-size: $fz-standard;
		line-height: 20px;
		color: $color-dark;
		&:first-child {
			border-left: none;
		}
	}
	&__input {
		font-weight: $fw-500-Medium;
		font-size: $fz-standard;
		line-height: 20px;
		color: $color-dark;
		padding: 0 10px;
		border: none;
		outline: none;
	}
	&__text {
		font-weight: $fw-500-Medium;
		font-size: $fz-standard;
		color: $color-dark;
		transform: translateX(-40px);
	}
}
.noUi-target {
	background: $color-yellow;
	border: none;
	box-shadow: none;
	height: 2px;
}
.noUi-connect {
	background: $color-black;
}
.noUi-handle:before,
.noUi-handle:after {
	display: none;
}
.noUi-horizontal .noUi-handle {
	width: 18px;
	height: 18px;
	right: -6px;
	top: -8px;
	border-radius: 50%;
}
.noUi-handle {
	background: $color-black;
	border: 3px solid $color-yellow;
	box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.3);
}

//------------checkbox--------------------------------------
.checkbox {
	position: relative;
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus + .checkbox__label::before {
		}
		&:checked + .checkbox__label::after {
			transform: scale(1);
		}
	}
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: 10px;
		&::before {
			content: "";
			position: absolute;
			flex: 0 0 20px;
			width: 18px;
			height: 18px;
			border: 2px solid $color-yellow;
			border-radius: 2px;
		}
		&::after {
			position: absolute;
			content: "";
			width: 12px;
			transform: scale(0);
			height: 12px;
			top: 4px;
			left: 3px;
			background: $color-yellow;
			transition: transform 0.3s ease-in-out;
		}
	}
	&__text {
		margin-left: 25px;
		font-size: 16px;
		line-height: 20px;
		color: $color-dark;
		display: flex;
		align-items: center;
		gap: 15px;
		@media (max-width: 360px) {
			font-size: 14px;
		}
		small {
			color: $color-yellow;
			font-size: 16px;
			line-height: 20px;
		}
	}
}
