.header {
  margin-bottom: 10px;
	//--TOP-HEADER-------------------
	&__top {
	}

	&__body {
	}

	&__catalog {
	}
}
.top-header {
	background-color: $color-dark;
	color: $color-white;
	padding: 10px 0;

	&__container {
		display: flex;
		align-items: center;
		min-height: 50px;
		.top-header__container-phones {
			display: none;
		}
		.top-header__container-favorits {
			display: none;
		}
		.top-header__container-cart-header {
			display: none;
		}
		@media (max-width: 992px) {
			.top-header__container-phones {
				display: flex;
				margin-right: 25px;
			}
			.phones-header__tel {
				color: $color-white;
				font-size: 25px;
			}
			.phones-header__callback,
			.phones-header__list,
			.phones-header__arrow {
				display: none;
			}
			.top-header__container-favorits {
				display: flex;
				margin-right: 25px;
			}
			.top-header__container-cart-header {
				display: flex;
			}
		}
		@media (max-width: 470px) {
			.phones-header__tel {
				display: none;
			}
			.phones-header__link-phone {
				display: block;
				min-width: 23px;
				height: 24px;
			}
		}
	}
	&__menu {
		flex: 1 1 auto;
		@media (max-width: 992px) {
			flex: 0;
		}
	}

	&__user {
		display: flex;
		align-items: center;
		gap: 15px;
		font-weight: $fw-600-SemiBold;
		line-height: 22px;
		transition: all 0.4s ease;
		@media (max-width: 992px) {
			gap: 0;
			margin-right: 25px;
		}
		span {
			transition: all 0.4s ease;
			@media (max-width: 992px) {
				display: none;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__user-img {
		min-width: 21px;
		height: 27px;
	}
}

.menu-top-header {
	&__list {
		display: flex;
		align-items: center;
		column-gap: 60px;
		row-gap: 5px;
		flex-wrap: wrap;
		@media (max-width: 992px) {
			display: none;
		}
	}

	&__item {
		:last-child {
			gap: 0;
		}
		&-catalog {
			display: none;
		}
	}
	&__link {
		display: inline-block;
		font-size: $fz-standard;
		color: $color-white;
		line-height: 20px;
		transition: all 0.4s ease;
		&:hover {
			transform: translateX(2px);
		}
		&-catalog {
			display: flex;
			position: relative;
			align-items: center;

			&:hover &-icon {
				transform: translateX(4px);
			}
			&-icon {
				position: absolute;
				right: -60px;
				top: -12px;
				padding: 10px;
				flex: 0 0 30px;
				cursor: pointer;
				font-size: 30px;
				transition: all 0.4s ease;
				@media (max-width: 400px) {
					font-size: 22px;
					top: -9px;
				}
			}
		}
		@media (max-width: 992px) {
			font-size: 30px;
			&:hover {
				transform: translateX(0px);
				color: $color-yellow;
			}
		}
		@media (max-width: 400px) {
			font-size: 22px;
		}
	}
}

.menu {
	flex: 0 0 30px;
	@media (max-width: 992px) {
		display: block;
	}
	&__body {
		@media (max-width: 992px) {
			.top-menu__body-list {
				display: flex;
				position: fixed;
				flex-direction: column;
				align-self: flex-start;
				row-gap: 30px;
				left: -100%;
				top: 68px;
				width: 100%;
				height: 100%;
				overflow: auto;
				background-color: $color-dark;
				padding: 90px 30px;
				z-index: 6;
				align-content: flex-start;
				align-items: flex-start;
				transition: all 0.5s ease;
				&.menu-open {
					left: 0;
				}
				@media (max-width: 400px) {
					gap: 20px;
					padding: 70px 15px;
				}
			}
		}
	}
}

.menu__btn {
	@extend %menu__btn;
}

//------------BODY-HEADER---------------------

.body-header {
	padding: 10px 0;
	background: #ecf1f2;
	@media (max-width: 550px) {
		padding: 25px 0;
	}
	&__container {
		display: flex;
		align-items: center;
		max-height: 70px;
		@media (max-width: 550px) {
			flex-direction: column;
			justify-content: center;
		}
	}
	&__link {
		min-width: 190px;
		height: 42px;
		padding-right: 158px;
		transition: all 0.4s ease;
		@media (max-width: 550px) {
			padding-right: 0;
			margin-bottom: $mb-10;
		}
	}
	&__search {
		flex: 1 1 auto;
		@media (max-width: 550px) {
			width: 100%;
		}
	}
	@media (max-width: 1420px) {
		&__link {
			padding-right: 20px;
		}
	}
}
//-form-search-header
.search-header {
	background: rgba(7, 7, 7, 0.03);
	border: 1px solid rgba(4, 4, 4, 0.5);
	border-radius: 3px;
	max-width: 377px;
	width: 100%;
	position: relative;
	@media (max-width: 992px) {
		max-width: 100%;
	}
	&__button {
		position: absolute;
		cursor: pointer;
		top: 8px;
		left: 8px;
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		background-color: transparent;
	}
	&__button-icon {
		width: 12px;
		height: 12px;
		z-index: 5;
	}
	&__input {
		width: 100%;
		border-radius: 3px;
		border: 1px solid rgba(4, 4, 4, 0.5);
		background-color: transparent;
		height: 41px;
		padding: 0 10px 0 40px;
		&::placeholder {
			font-size: $fz-small;
			line-height: 17px;
			color: rgba(0, 0, 0, 0.5);
			text-transform: capitalize;
		}
	}
}
//---------------------------------

//----ACTION-HEADER---------------
.actions-header {
	display: flex;
	align-items: center;
	column-gap: 40px;
	@media (max-width: 992px) {
		display: none;
	}
	&__location {
		display: inline-flex;
		align-items: center;
		font-weight: $fw-600-SemiBold;
		line-height: 22px;
		color: $color-black;
		margin: 0 0 0 10px;
		@media (max-width: 992px) {
			display: none;
		}
	}
	&__location-icon {
		width: 17px;
		height: 24px;
		margin-right: 10px;
	}
	&__favorits {
		display: inline-block;
		flex: 0 0 28px;
		height: 27px;
		@media (max-width: 992px) {
			display: none;
		}
		&__favorits-icon {
			width: 100%;
		}
	}
	&__cart {
	}
	@media (max-width: 1420px) {
		column-gap: 20px;
	}
}
.phones-header {
	&__inner {
		position: relative;
		display: flex;
	}
	// &__tel {
	// 	font-weight: $fw-600-SemiBold;
	// 	font-size: $fz-middle;
	// 	line-height: 22px;
	// 	color: $color-black;
	// 	margin-bottom: 5px;
	// }
	// &__arrow {
	// 	border: none;
	// 	position: absolute;
	// 	top: 0;
	// 	right: -27px;
	// 	background-color: transparent;
	// 	color: $color-yellow;
	// 	font-size: $fz-normal;
	// 	font-weight: $fw-700-bold;
	// 	cursor: pointer;
	// 	transition: transform 0.5s ease;
	// 	&.active {
	// 		transform: rotate(180deg);
	// 		top: -6px;
	// 	}
	// }
	// &__list {
	// 	// opacity: 0;
	// 	// visibility: hidden;
	// 	// position: absolute;
	// 	transform: translateY(-10px);
	// 	top: 100%;
	// 	width: 202px;
	// 	left: -14px;
	// 	background-color: $color-white;
	// 	box-shadow: 0 0 4.5px 3px #dddddd;
	// 	padding: 15px;
	// 	border-radius: 10px;
	// 	transition: transform 0.7s ease 0s;
	// 	// &.active {
	// 	// 	display: block;
	// 	// 	visibility: visible;
	// 	// 	opacity: 1;
	// 	// 	transform: translateY(0px);
	// 	// 	z-index: 10;
	// 	// }
	// }

	// &__item {
	// 	flex-wrap: nowrap;
	// }

	// &__item + &__item {
	// 	margin-top: 15px;
	// }

	&__callback {
		font-weight: $fw-700-bold;
		line-height: 22px;
		color: $color-yellow;
		border: none;
		background-color: transparent;
		cursor: pointer;
		transition: all 0.3s;
		&:hover {
			transform: translateY(-2px);
		}
	}
	@media (max-width: 992px) {
		display: none;
	}
}

.phones {
	&__menu {
		display: inline-block;
	}
	// &__menu._active .phones__menu-list {
	// 	display: block;
	// }
	&__menu-btn {
		border: none;
		position: absolute;
		top: 0;
		right: -27px;
		background-color: transparent;
		color: $color-yellow;
		font-size: $fz-normal;
		font-weight: $fw-700-bold;
		cursor: pointer;
		transition: transform 0.5s ease;
		&.active {
			transform: rotate(180deg);
			top: -6px;
		}
	}
	&__menu-list {
		top: 100%;
		width: 202px;
		left: -14px;
		background-color: $color-white;
		box-shadow: 0 0 4.5px 3px #dddddd;
		padding: 15px;
		border-radius: 10px;
		transition: transform 0.7s ease 0s;
		position: absolute;
		z-index: 10;
    &._active {
      display: block;
    }
	}
  &__menu-item + &__menu-item{
    margin-top: 15px;
  }

	&__menu-tel {
		font-weight: $fw-600-SemiBold;
		font-size: $fz-middle;
		line-height: 22px;
		color: $color-black;
		margin-bottom: 15px;
	}
}

.cart-header {
	display: flex;
	align-items: center;
	column-gap: 15px;
	@media (max-width: 992px) {
		display: none;
	}
	&__icons {
		position: relative;
		cursor: pointer;
		flex: 0 0 37px;
		height: 35px;
	}
	&__span {
		position: absolute;
		display: block;
		top: -3px;
		right: -2px;
		width: 17px;
		height: 17px;
		background-color: $color-yellow;
		color: $color-white;
		border-radius: 50%;
		font-size: 13px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: 992px) {
			right: 0;
		}
	}
	&__body {
		display: flex;
		font-weight: $fw-500-Medium;
		font-size: $fz-standard;
		line-height: 20px;
		flex-direction: column;
		flex: 0 0 auto;
		@media (max-width: 1150px) {
			display: none;
		}
	}
	&__summ {
		color: $color-black;
		margin-bottom: 5px;
	}
	&__link {
		color: $color-yellow;
		transition: all 0.3s;
		&:hover {
			transform: translateY(-2px);
		}
	}
}
//--------HEADER-CATALOG--------
.catalog-header {
	background-color: $color-dark;
	color: $color-white;
	position: relative;
	&__container {
	}

	&__menu {
	}
}
.menu-catalog {
	@media (max-width: 992px) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $color-dark;
		padding: 90px 30px;
		transition: all 0.5s ease 0s;
		.catalor-open & {
			transition: all 0.5s ease-in-out 0s;
			left: 0;
			z-index: 8;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		column-gap: 10px;
		@media (max-width: 992px) {
			flex-direction: column;
			row-gap: 25px;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		transition: color 0.5s ease 0s;
		&-axe {
			display: none;
		}
		ion-icon {
			display: none;
		}
		@media (min-width: 992px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: 0 10px;
			min-height: 70px;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 5px;
			opacity: 0;
			visibility: hidden;
			left: 10px;
			background-color: $color-yellow;
			box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.3);
			height: 2px;
			width: 0;
			transition: all 0.5s ease 0s;
		}
		&:hover {
			color: $color-yellow;
			&::after {
				width: calc(100% - 20px);
				opacity: 1;
				visibility: visible;
			}
		}
		&:hover ion-icon {
			transform: translateX(5px);
		}
		&.sub-menu-active {
			color: $color-yellow;
			&::after {
				opacity: 1;
				visibility: visible;
			}
		}
		@media (max-width: 992px) {
			font-size: 30px;
			&-axe {
				display: flex;
			}
			&::after {
				display: none;
			}
			ion-icon {
				display: block;
				transition: all 0.2s ease-in-out;
			}
		}
		@media (max-width: 450px) {
			font-size: 18px;
		}
	}

	&__sub-menu {
		width: 100%;
		right: 0;
		top: 100%;
		background-color: $color-dark;
		transition: all 0.7s ease;
	}

	.menu__btn-catalog {
		@extend %menu__btn-catalog;
		display: none;
		@media (max-width: 992px) {
			display: flex;
		}
	}
}
.sub-menu-catalog {
	@media (max-width: 992px) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $color-dark;
		padding: 90px 30px;
		transition: all 0.5s ease 0s;
		._sub-menu-open & {
			transition: all 0.5s ease-in-out 0s;
			left: 0;
			z-index: 10;
		}
	}
	&__block {
		padding-bottom: 30px;
		transition: all 0.5s ease 0.1s;
		@for $var from 1 to 6 {
			&_#{$var} {
				grid-template-columns: repeat($var, minmax(auto, 320px));
			}
		}

		&.sub-menu-open {
			display: grid;
			@media (max-width: 992px) {
				display: block;
			}
		}

		@media (max-width: 992px) {
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: $color-dark;
			padding: 90px 30px;
			transition: all 0.5s ease 0s;
			&.sub-menu-open {
				transition: all 0.5s ease-in-out 0s;
				left: 0;
				z-index: 6;
			}
		}
	}
	&__category {
		font-weight: $fw-700-bold;
		font-size: $fz-standard;
		line-height: 30px;
		padding: 30px 15px 30px 0;
		transition: all 0.5s ease 0s;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		&:hover {
			text-decoration: underline;
		}
		@media (max-width: 992px) {
			line-height: 30px;
			padding: 10px 15px 10px 0;
			border-bottom: none;
			transition: all 0.3s ease;
			&:hover {
				transform: translateX(-5px);
				text-decoration: none;
			}
		}
	}

	&__list {
		margin: 30px 0;
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		@media (max-width: 992px) {
			display: none;
		}
	}

	&__list + &__list {
		padding-left: 15px;
	}

	&__link {
		display: inline-block;
		font-size: $fz-standard;
		font-weight: 20px;
		padding: 10px 0;
		transition: all 0.4s ease;
		&:hover {
			color: $color-yellow;
			transform: translateY(-2px);
		}
	}

	&__link-category {
		@media (max-width: 992px) {
			font-size: 30px;
		}
		@media (max-width: 550px) {
			font-size: 25px;
		}
		@media (max-width: 460px) {
			font-size: 18px;
		}
	}

	&__footer {
		padding-right: 10px;
		@media (max-width: 992px) {
			display: none;
		}
	}

	&__all {
		align-self: flex-start;
		font-size: $fz-standard;
		line-height: 20px;
		color: $color-yellow;
		transition: all 0.4s ease;
		&:hover {
			text-decoration: underline;
			opacity: 0.7;
		}
	}
	.menu__btn-sub-menu {
		@extend %menu__btn-sub-menu;
		display: none;
		@media (max-width: 992px) {
			display: flex;
		}
	}
}
//=============================
