.page {
	&__articles-module {
	}
}
.articles-module {
	margin-bottom: 120px;
	@media (max-width: 500px) {
		margin-bottom: 60px;
	}
	&__container {
	}
	&__title {
		margin-bottom: 30px;
	}
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 30px;
		@media (max-width: 1300px) {
			grid-template-columns: repeat(2, 1fr);
			row-gap: 20px;
			column-gap: 10px;
		}
		@media (max-width: 992px) {
			display: none;
		}
	}
	&__item {
	}
}
.item-article {
	background: #fefefe;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	transition: box-shadow 0.5s ease;
	&:hover {
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
	}
	&__image {
		margin-bottom: 20px;
		width: 100%;
		max-height: 200px;
		overflow: hidden;
		&:hover img {
			transform: scale(1.2);
		}
		img {
			width: 100%;
			transition: transform 0.8s ease;
		}
	}

	&__body {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		//align-items: baseline;
		padding: 0 20px 30px 20px;
	}
	&__title {
		flex: 1 1 auto;
		padding-bottom: 8px;
	}
	&__link {
		font-weight: $fw-600-SemiBold;
		font-size: $fz-20;
		line-height: 34px;
		color: $color-dark;
		@media (max-width: 500px) {
			line-height: 25px;
		}
	}
	&__data {
		font-size: $fz-standard;
		line-height: 34px;
		color: #ababab;
	}
	&__image-link {
	}
}

.articles-module {
	&__slider {
		display: none;
		@media (max-width: 992px) {
			display: block;
			height: 100%;
		}
	}

	&__item {
	}
}
.articles-slider {
	&__swiper {
	}
	&__wrapper {
	}
	&__slide {
	}
}

.item-article {
	margin-right: 0;
	
  @media (max-width:930px) {
    min-height: 360px;
}
  @media (max-width:599.9px) {
    min-height: 100%;
}
	&__image {
	}
	&__image-link {
	}
	&__body {
	}
	&__title {
	}
	&__link {
	}
	&__data {
	}
}
.new-products {
	&__slider-dotts {
	}
}

@media (min-width: 1080px) {
}
